<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
<!--    我写了一个在where标签嵌套的choose when otherwise 条件-->
    <select id="findOneByOneCondition" resultType="User" parameterType="User">
        select * from user
        <where>
            user.deleted = 0
            <choose>
                <when test="name != null and name != ''">
                    and user.name = #{name}
                </when>
                <otherwise>
                    and user.id = #{id}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findAll" resultType="User">
        select * from user
    </select>

    <cache />
</mapper>